<form>
    <div class="form-group">
        <label>Category name</label>
        <select [(ngModel)]="category" [ngModelOptions]="{standalone: true}" class="custom-select">
            <option *ngFor="let categ of adminCategory" [ngValue]="categ">{{categ.name}}</option>
        </select>


    </div>
    <div class="form-group">
        <label for="photoTitle">Title</label>
        <input [(ngModel)]="photoTitle" name="photoTitle" type="text" class="form-control" id="photoTitle">
    </div>
    <div class="form-group">
        <div class="custom-file">
            <input (change)="upload($event)" accept=".png,.jpg,.jpeg" type="file" class="custom-file-input"
                id="photoFile" required>
            <label class="custom-file-label" for="photoFile">Choose file...</label>
        </div>
        <div class="progress mt-2">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
            File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
        </div>
        <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
            <button type="button" class="btn btn-primary" (click)="task.pause()"
                [disabled]="state === 'paused'">Pause</button>
            <button type="button" class="btn btn-primary" (click)="task.cancel()"
                [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="task.resume()"
                [disabled]="state === 'running'">Resume</button>
        </div>
    </div>

    <button *ngIf="!editStatus" (click)="isAddPhoto()" type="button" class="btn btn-success btn-block">Add</button>
    <button *ngIf="editStatus" (click)="isSaveEditPhoto()" type="button" class="btn btn-success btn-block">Save
        edit</button>
</form>
<hr>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>category</th>
            <th>title</th>
            <th>image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let photo of adminPhotosHor; let i=index">
                <td>{{i+1}}</td>
                <td>{{photo.category.name}}</td>
                <td>{{photo.title}}</td>
                <td>
                    <img [src]="photo.image" alt="" style="width: 80px;height:70px">
                </td>
                <td>
                    <button class="btn btn-warning" (click)="isEditPhoto(photo)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="isDeletePhoto(photo)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>